# core
numpy
opencv-python-headless
Pillow
joblib
insightface
google-generativeai

# optional (recommended) for performance & dev
tqdm
python-dotenv
onnxruntime

# streamlit web app
streamlit
pandas
imageio-ffmpeg
